@import "bootstrap";

/* universal */



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
 
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}


.profileBox {
    background-color: antiquewhite;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
.profileBox_header {
    padding: 35px 0 15px;
    position: relative;
    text-align: center;
    width: 100%;
    }

.panel-profile-img {
    // max-width: 100px;
    // margin-top: -70px;
    margin-bottom: 7px;
    border-radius: 100%;
    border: 1px solid rgba(15,186,178,.1);
}


.userName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4A4A50;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 1px #2b3237;
    text-align: left;
    margin-bottom: 5px;
    line-height: 20px;
    text-align: center;
}
.userOnline::before {
    color: #A9CC55;
    border: none;
    content: '\25CF';
    display: inline-block;
    margin: 0 7px 0px 1px;
    padding: 0;
}

.textarea-container{
  display: table;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #10bbb3;
    padding: 5px;
    width: 70%;
    background-color: rgba(12,200,201,.02);
    box-sizing: border-box;
}
.form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #d4dbe0;
    border-radius: 4px;
}
.remove-border, .remove-border:focus, .remove-border:hover, .remove-border:active {
    border: none;
    box-shadow: none;
}
.btn {
    font-size: 14px;
    line-height: 1.6;
    white-space: nowrap;
  }

  .btn-primary-outline {
        margin-top: 10px;
    color: #0da39c;
    // background-color: transparent;
    border-color: #10BBB3;
    display: inline-block;
    touch-action: manipulation;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
}

.uiScrollableArea .uiScrollableAreaWrap {
    overflow-y: scroll;
}
.uiScrollableAreaWrap {
    height: 100%;
    outline: none;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.uiScrollableArea {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
}

._kmc {
    flex: 1;
    max-height: 144px;
    min-height: 18px;
    overflow-y: auto;
    padding: 9px 0;
    vertical-align: middle;
}
._4rv4 {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    padding: 8px 0;
}
._30yy {
    cursor: pointer;
    transition: opacity .2s;
}
._38lh {
    color: #0084ff;
    font-size: .9em;
    font-weight: bold;
    line-height: 32px;
    max-width: 80px;
    min-width: 33px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
